.container {
  margin-top: 20px;
}

button {
  outline: none;
  border: none;
  font-family: 'Orbitron', sans-serif;
  background: rgb(21,171,195);
  cursor: pointer;
  font-size: 35px !important;
  width: 100% !important;
}

[class*="col"] {
  background-color: rgb(21,171,195);

}
