@import url('https://fonts.googleapis.com/css?family=Orbitron');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: black;
  color: rgb(21,171,195);
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
